@model Games2.Models.Cliente
@{
    ViewBag.Title = "CadCliente";
}

<h2>Dados cadastrados com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Cliente", "Cliente")</p>
<p>@Html.ActionLink("Vizualizar Cliente", "ListarCliente")  </p>

