@model Games2.Models.Jogo
@{
    ViewBag.Title = "CadJogo";
}

<h2>Dados cadastrados com sucesso.</h2>
<br />
<p>@Html.ActionLink("Voltar", "Jogo", "Jogo")</p>
<p>@Html.ActionLink("Vizualizar Jogos", "ListarJogo", "Jogo")</p>

